.container{
    border-bottom: 100px;
}
.light_pink{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: white;
    border: none;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}